body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2196F3;  
    margin: 0;
}
.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d47a1;  
    padding: 20px;
    border-radius: 10px;
}
.timer {
    font-size: 3rem; 
    color: #fff; 
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #000;  
    border-radius: 10px; 
    width: 200px;  
    height: 80px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

